
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> <%= @page_title%> </title>
    <link href="assets/stylesheets/main.css" rel="stylesheet" type="text/css" media="all">
    <script src="assets/javascripts/jquery-1.5.1.min.js"></script>
    <script src="assets/javascripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="assets/javascripts/menus.js"></script>
  </head>
  <body id="<%= @body_id %>">
    <div id="wrapper">

      <div id="mainHeader">
        <a href="/index" title="home" class="logo">
          <div id="logo">
            <h1>Explore California</h1>
          </div>
        </a>
        <%= erb "_navigation".to_sym %>
      </div>
      <!--before yield-->
      <%= yield %>
      <!--after yield-->
      <div id="pageFooter">
        <div id="quickLinks">
          <h1>Quick Nav</h1>

          <%
          quick_nav = ['Home', '/', 'Our Homepage'],
          ['Tours', '/tours', 'Explore our Tours'],
          ['Mission', '/mission', 'What We Think'],
          ['Resources', '/resources', 'Guidance and planning'],
          ['Exlporers', '/explorers', 'Join Our Community'],
          ['Contact', '/contact', 'Contact and Support']
          %>
          <ul id="quickNav">
            <% quick_nav.each do |item| %>
            <li><a href="<%=item[1]%>" title="<%=item[2]%>"><%=item[0]%></a></li>
            <% end %>
          </ul>
        </div>
        <div id="footerResources">
          <h1>Resources</h1>
          <ul id="quickNav">
            <li><a href="/resources/faq" title="Our home page">FAQ</a></li>
            <li><a href="/support" title="Need help?">Support</a></li>
            <li><a href="/resources/legal" title="The fine print">Legal</a></li>
          </ul>
        </div>
        <div id="companyInfo">
          <h1>Contact</h1>
          <h2>Explore California</h2>
          <p>5605 Nota Street<br />
            Ventura, CA 93003</p>
          <p>866.555.4310<br />866.555.4315 <em>(24 hour support)</em></p>
        </div>
      </div>
    </div>
  </body>
</html>
